<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.movieProject.movie.repository.MovieRepository">
    <sql id="fullColumn">
        movieidx,
        title,
        content,
        poster,
        genre,
        director,
        actor,
        playtime,
        age,
        trailer,
        watchott,
        maker,
        opendt
    </sql>

    <select id = "getMovie" resultType = "com.example.movieProject.movie.entity.MovieEntity">
        select <include refid="fullColumn"/>
        from 'movie'
        where movieidx = #{id}
    </select>

    

</mapper>